#content {
	margin: 0 auto;
	width: 900px;
}

.byline {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
}

h1 {

	font-family: Helvetica, sans-serif;
	font-size: 20px;
}

p {

	font: Georgia;
	font-family: serif;
	font-size: 13px;
}

img {
  max-width: 100%;
  height: auto;
}

.blockquote {
	font-size: 14px;
}